<html>
  <head>
    <title>Libros</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body [ngStyle]="{ 'background': backgroundStyle }">
    <div class="container">
        <div class="header">
          {{ categoria | uppercase }}
        </div>
        <div class="level">
          <span
            *ngFor="let level of levels; let i = index"
            [class.unlocked]="level.unlocked"
            (click)="navigateToSlide(categoria,level.number)"
            [title]="level.unlocked ? 'Desbloqueado' : 'Bloqueado'"
          >
            {{ level.number < 10 ? level.number : 'G' }}
          </span>
        </div>
        <a class="button new-game" href="#">Nuevo Juego</a>
        <a class="button guardian-mode" href="#">
          Modo Guardián
          <i class="fas fa-lock"></i>
        </a>
        <div class="footer"></div>
      </div>
  </body>
</html>
