<div class="background" *ngIf="isLoggedIn"> <!-- Solo se muestra si está logueado -->
  <div class="container my-4">
    <h1 class="text-center custom-h1">Puntajes por Categoría</h1>
    <div class="accordion" id="categoriasAccordion">
      <div *ngFor="let categoria of categorias; let i = index" class="accordion-item">
        <h2 class="accordion-header" id="heading{{ i }}">
          <button
            class="accordion-button"
            [ngClass]="{ 'collapsed': i !== 0 }"
            type="button"
            [attr.data-bs-toggle]="'collapse'"
            [attr.data-bs-target]="'#collapse' + i"
            [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
            [attr.aria-controls]="'collapse' + i">
            {{ categoria }}
          </button>
        </h2>
        <div
          id="collapse{{ i }}"
          class="accordion-collapse collapse"
          [ngClass]="{ 'show': i === 0 }"
          [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#categoriasAccordion">
          <div class="accordion-body">
            <table class="table table-striped table-hover table-bordered table-responsive table-fixed">
              <thead>
                <tr class="table-dark">
                  <th class="text-center">Nivel</th>
                  <th class="text-center">Aciertos</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let nivel of puntajes[categoria]; let nivelIndex = index" class="table-light">
                  <td class="text-center">{{ nivelIndex + 1 }}</td>
                  <td class="text-center">{{ nivel }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
